<div class="row  border-bottom white-bg dashboard-header">

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class="btn btn-xs btn-info " type="button" (click)="verSeries()">
				<i class="fa fa-eye"></i>&nbsp;Ver Series</button>
			<br>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button class="btn btn-xs btn-info " type="button" (click)="verSagas()">
				<i class="fa fa-eye"></i>&nbsp;Ver Sagas</button>
			<br>
		</div>

	</div>

	<div class="row">
		<span *ngFor="let tema of listaTemas">
			{{ "items.push({ id: UUID(), borrado: 0, activo: 1, nombre: '" + tema.nombre + "', siglas: '" + tema.siglas + "' });" }}<br>
		</span>
	</div>

</div>