<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img src="../../../assets/img/logo5.png" width="160px"/>
                    </span>
                </div>
                <div class="logo-element">
                    <img src="../../../assets/img/logo4.png" width="50px"/>
                </div>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/app/panel-control">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">&nbsp;Panel de control</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">&nbsp;Configuración</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/configuracion/avanzada">
                            <i class="fa fa-users"></i>&nbsp;
                            Avanzada
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/app/configuracion/sistema">
                            <i class="fa fa-cogs"></i>&nbsp;
                            Sistema
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">&nbsp;Series</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/series/historico">
                            <i class="fa fa-users"></i>&nbsp;
                            Histórico
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">&nbsp;Catálogos</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/usuarios/historico">
                            <i class="fa fa-users"></i>&nbsp;
                            Usuarios
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/app/articulos/historico">
                            <i class="fa fa-shopping-bag"></i>&nbsp;
                            Artículos
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-calculator"></i>
                    <span class="nav-label">&nbsp;Cotizaciones</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/cotizaciones/nueva">
                            <i class="fa fa-file-o"></i>&nbsp;
                            Nueva
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/app/cotizaciones/historico">
                            <i class="fa fa-list"></i>&nbsp;
                            Histórico
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-label">&nbsp;Ventas</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/ventas/nueva">
                            <i class="fa fa-file-o"></i>&nbsp;
                            Nueva
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/app/ventas/historico">
                            <i class="fa fa-list"></i>&nbsp;
                            Histórico
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a>
                    <i class="fa fa-credit-card"></i>
                    <span class="nav-label">&nbsp;Tarjetas SIM</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li routerLinkActive="active">
                        <a routerLink="/app/tarjeta-sim/historico">
                            <i class="fa fa-list"></i>&nbsp;
                            Histórico
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>