<div class="row wrapper border-bottom white-bg page-heading">
	<div class="row">
		<div class="col-lg-12">
				<p class="text-right" style="margin-top: 10px; margin-bottom: -50px;">
					<button class="btn btn-danger " type="button" routerLink="/app/series/historico">
						<i class="fa fa-step-backward"></i>&nbsp;Salir</button>
				</p>
			<h2>Serie</h2>
			<ol class="breadcrumb">
				<li>
					Información de la serie
				</li>
			</ol>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#tabInformacion" aria-expanded="true"> Información</a>
					</li>
					<li *ngIf="registroId" class="">
						<a data-toggle="tab" href="#tabPortada" aria-expanded="false">Portada</a>
					</li>
					<li *ngIf="registroId" class="">
						<a data-toggle="tab" href="#tabEpisodios" aria-expanded="false">Episodios</a>
					</li>
					<li *ngIf="registroId" class="">
						<a data-toggle="tab" href="#tabOvas" aria-expanded="false">OVA's</a>
					</li>
					<li *ngIf="registroId" class="">
						<a data-toggle="tab" href="#tabPeliculas" aria-expanded="false">Películas</a>
					</li>
					<li *ngIf="registroId" class="">
						<a data-toggle="tab" href="#tabExtras" aria-expanded="false">Extras</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="tabInformacion" class="tab-pane active">
						<div class="panel-body">
							<app-serie-edicion-informacion [registroId]="registroId"></app-serie-edicion-informacion>
						</div>
					</div>
					<div id="tabPortada" class="tab-pane" *ngIf="registroId">
						<div class="panel-body">
							<app-serie-edicion-portada [registroId]="registroId"></app-serie-edicion-portada>
						</div>
					</div>
					<div id="tabEpisodios" class="tab-pane" *ngIf="registroId">
						<div class="panel-body">
							<app-serie-edicion-episodios [registroId]="registroId" [sagaTipo]="sagaTipoTv"></app-serie-edicion-episodios>
						</div>
					</div>
					<div id="tabOvas" class="tab-pane" *ngIf="registroId">
						<div class="panel-body">
							<app-serie-edicion-episodios [registroId]="registroId" [sagaTipo]="sagaTipoOva"></app-serie-edicion-episodios>
						</div>
					</div>
					<div id="tabPeliculas" class="tab-pane" *ngIf="registroId">
						<div class="panel-body">
							<app-serie-edicion-episodios [registroId]="registroId" [sagaTipo]="sagaTipoMovie"></app-serie-edicion-episodios>
						</div>
					</div>
					<div id="tabExtras" class="tab-pane" *ngIf="registroId">
						<div class="panel-body">
							<app-serie-edicion-episodios [registroId]="registroId" [sagaTipo]="sagaTipoExtra"></app-serie-edicion-episodios>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>